body{
    font-family: 'Readex Pro', sans-serif;
}

a{
    text-decoration: none;
    color: #000;
}

h2{
    font-size: 3em;
}



header{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header>nav>ul{
    display: flex;
}

header>nav>ul>li{
    margin: 0 10px;
}

ul  {
    list-style: none;
}

main{
    background-color: #f8f8f8;
}

.main-img{
    width: 100%;
    height: 80vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-image: url('https://cdn.pixabay.com/photo/2016/11/18/15/58/vw-1835506_960_720.jpg');
}

.main-text{
    max-width: 550px;
    margin: 10% 20px 0 20px;
    padding: 20px;
    background-color: rgb(0, 0, 0, 0.5);
}

.main-text>p{
    font-weight: 400;
    font-size: 1.1em;
    line-height: 2;
}


.lista{
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.lista>li{
    max-width: 500px;
    width: 100%;
    min-height: 240px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    background-color: #fff;
}

.lista>li:hover{
    -webkit-box-shadow: 11px 10px 15px -5px rgba(0,0,0,0.56); 
box-shadow: 11px 10px 15px -5px rgba(0,0,0,0.56);
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.521);
}

@media (max-width:1200px) {
.lista>li{
    margin: 20 auto;
}
}

.lista>li>img{
    margin-top: 20px;
    width: 100%;
}

.lista>li>p:first-child{
    font-weight: 700;
    font-size: 1.2em;
}


.container_car{
    display: flex;
    justify-content: space-between;
}


.price_day{
    font-size: 1.4em;
    font-weight: 700;
    color: rgb(95, 164, 255);
}

/* LOGIN */

.form-container{
    padding-top: 40px;
    max-width: 750px;
    margin: 0 auto;
}

.form-container>h2 {
    text-align: center;
}

.form-container>form {
    display: flex;
    flex-direction: column;

}


.form-container input{
    margin: 10px 0;
    padding: 10px;
}
.form-container button {
    margin-top: 20px;
    padding: 12px;
    cursor: pointer;
    background-color: chocolate;
    border: none;
    font-weight: bold;
}